body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #f0f0f0;
}

video {
	max-width: 100%; /* Адаптирует размер видео к ширине родительского контейнера */
	height: auto; /* Поддерживает пропорции видео */
	border: 1px solid black; /* Для визуального разделения видео от остального содержимого */
}


button {
	margin-top: 20px;
}
